[user]
	email = contact@see2et.dev
    name = See2et
    signingkey = A2FDEAC3D3FD9714
[commit]
    gpgsign = true
[init]
	defaultBranch = main
[ghq]
	root=~/repos
[core]
	editor = nvim
	excludesfile = /etc/nixos/.gitignore_global
[credential "https://github.com"]
	helper = 
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
    helper = !gh auth git-credential
[safe]
    directory = /etc/nixos
