layout {
    tab name="work" focus=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane command="opencode" size="30%"
            pane command="nvim" focus=true size="70%"
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="cmd" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}

